.Container {
    border: solid;
    width: 750px;
}
nav {
  background: #838c8e;
  padding: 10px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
.icon {
  width: 11px;
}
.icon-0 {
  margin: 0px 0px 50px -30px;
}
.icon-1 {
  margin: 0px 0px 0px 30px;
}
.icon-2 {
  margin: 0px 0px -190px 225px;
}
section {
    margin: 10px 5px 50px 5px;
}
.flexbox {
    border: solid;
}
.Container-yes {
  float: left;
}
table {
    border-collapse: collapse;
}
.tacin {
  width: 400px;
}
.check {
  width: 50px;
}
.check-h {
  margin-top: -20px;
}
.rows {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.sya {
  margin-top: 0.0005px;
}
.yas {
    margin-top: -20px;
}
.cusin {
  width: 400px;
}
.visa {
  width: 14px;
}
.Container-yas {
  background: #838c8e;
  padding: 1px 20px;
  float: right;
  margin-top: -342px;
  margin-right: 10px;
}
.conyas {
  width: 240px;
}
.con {
  text-align: right;
}
.fa-1 {
  margin: 0px 0px 50px -30px;
}
.fa-2 {
  margin: 0px 0px 0px 20px;
}
.fa-3 {
  margin: 0px 0px -100px 70px;
}
.avisa {
  margin: 0px 0px 0px -30px;
}
.ivisa {
  width: 24px;
}
.amastercard {
  margin: 0px;
}
.imastercard {
  width: 31px;
}
.ikartu {
  width: 26px;
  margin-bottom: 3px;
  margin-right: 360px;
}